<template>
  <label class="requiredField" for="applies_to">
    Applies to<span class="asteriskField">*</span>
  </label>
  <VueSelect
    :modelValue="this.value"
    @update:modelValue="$emit('update:value', $event)"
    :options="this.options"
    :class="{ 'is-invalid': this.errors.length > 0 }"
    :disabled="this.disabled"
    :searchable="true"
    :reduce="(option) => option.id"
    :clearable="false"
    @blur="$emit('blur')"
    @focus="$emit('focus')"
    placeholder="Applies to..."
  ></VueSelect>
  <div class="invalid-feedback" v-for="error of this.errors" :key="error.$uid">
    {{ error.$message }}
  </div>
  <small class="form-text text-muted">
    {{ this.helpText }}
  </small>
</template>

<script>
import VueSelect from 'vue-select';

export default {
  emits: ["blur", "focus", "update:value"],
  components: {
    VueSelect
  },
  props: {
    value: {
      type: String,
      optional: false,
    },
    name: {
        type: String,
        optional: true,
    },
    helpText: {
      type: String,
      optional: true,
      default: () => "",
    },
    errors: {
      type: Array,
      optional: true,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      optional: true,
      default: () => false,
    },
  },
  data() {
    return {
      options: [
        {id: "DR", label: "Items"},
        {id: "DS", label: "Sources"},
        {id: "AL", label: "All"}
      ]
    }
  }
};
</script>

<style>
</style>