<template>
  <label class="requiredField" for="category">
    Category<span class="asteriskField">*</span>
  </label>
  <VueSelect
    :modelValue="this.value"
    :getOptionKey="option => option.uuid"
    @update:modelValue="$emit('update:value', $event)"
    @search="this.loadCompletions"
    :options="this.options"
    :class="{ 'is-invalid': this.errors.length > 0 }"
    :disabled="this.disabled"
    :searchable="true"
    :reduce="(option) => option.uuid"
    :clearable="false"
    @blur="$emit('blur')"
    @focus="$emit('focus')"
  ></VueSelect>
  <div
    class="invalid-feedback"
    v-for="error of this.errors"
    :key="error.$uid"
  >
    {{ error.$message }}
  </div>
  <small class="form-text text-muted">
    {{ this.helpText }}
  </small>
</template>

<script>
import { getAutocompleteCategories } from '../../../coms';
import VueSelect from 'vue-select';

export default {
  emits: ["blur", "focus", "update:value"],
  components: {
    'VueSelect': VueSelect,
  },
  props: {
    value: {
      type: String,
      optional: false,
    },
    helpText: {
      type: String,
      optional: true,
      default: () => "",
    },
    errors: {
      type: Array,
      optional: true,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      optional: true,
      default: () => false,
    },
  },
  data() {
    return {
      options: []
    }
  },
  mounted() {
    this.loadCompletions("", () => {});
  },
  watch: {
    value(val, oldVal) {
      if (val !== oldVal) {
        this.loadCompletions("", () => {});
      }
    },
  },
  methods: {
    loadCompletions(search, loading) {
      loading(true);
      getAutocompleteCategories(search, this.value)
        .then(res => this.options = res)
        .finally(loading(false))
    }
  }
};
</script>

<style>
</style>