<template>
  <label class="requiredField" for="category_form_description"
    >Description<span class="asteriskField">*</span></label
  >
  <textarea
    :value="value"
    @input="$emit('update:value', $event.target.value)"
    name="description"
    cols="40"
    rows="10"
    maxlength="500"
    minlength="1"
    class="textarea form-control"
    id="category_form_description"
    :class="{ 'is-invalid': this.errors.length > 0 }"
    @blur="$emit('blur')"
    @focus="$emit('focus')"
    :disabled="this.disabled"
  ></textarea>
  <div
    class="invalid-feedback"
    v-for="error of this.errors"
    :key="error.$uid"
  >
    {{ error.$message }}
  </div>
  <small class="form-text text-muted">
    {{ this.helpText }}
  </small>
</template>

<script>
export default {
  emits: ["blur", "focus", "update:value"],
  props: {
    value: {
      type: String,
      optional: false
    },
    helpText: {
      type: String,
      optional: true,
      default: () => "",
    },
    errors: {
      type: Array,
      optional: true,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      optional: true,
      default: () => false,
    },
  },
};
</script>

<style>
</style>