<template>
  <label class="requiredField" for="name">
    Name<span class="asteriskField">*</span>
  </label>
  <input
    :value="value"
    type="text"
    @input="$emit('update:value', $event.target.value)"
    name="name"
    maxlength="20"
    class="textinput textInput form-control"
    :class="{ 'is-invalid': this.errors.length > 0 }"
    id="name"
    @blur="$emit('blur')"
    @focus="$emit('focus')"
    :disabled="this.disabled"
  />
  <div
    class="invalid-feedback"
    v-for="error of this.errors"
    :key="error.$uid"
  >
    {{ error.$message }}
  </div>
  <small class="form-text text-muted">
    {{ this.helpText }}
  </small>
</template>

<script>
export default {
  emits: ["blur", "focus", "update:value"],
  props: {
    value: {
      type: String,
      optional: false,
    },
    helpText: {
      type: String,
      optional: true,
      default: () => "",
    },
    errors: {
      type: Array,
      optional: true,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      optional: true,
      default: () => false,
    },
  },
};
</script>

<style>
</style>