{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block account_allauth_content %}
    <form method="POST" action="" class="password_change">
        {% csrf_token %}
        {{ password_change_form|crispy }}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
