<template>
  <div class="container-sm">
    <h2>Moderation Queue</h2>
    <a href="/datascience">
      <h3 class="fs-6">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Projects List
      </h3>
    </a>
    <div class="d-flex flex-row justify-content-center">
      <div v-if="!moderation_list_loaded" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div
        v-if="moderation_list_loaded && moderation_list.length < 1"
        class="flex-row text-success"
      >
        <i class="fas fa-check"></i>
        <span> Nothing left in the queue</span>
      </div>
      <div class="flex-column">
        <ModerationCardComponent
          v-for="moderatable in moderation_list"
          :key="moderatable.uuid"
          :moderatable="moderatable"
          @approve="approve(moderatable.uuid)"
          @deny="deny(moderatable.uuid)"
          @openDialog="more(moderatable.uuid)"
          class="mb-2"
        ></ModerationCardComponent>
      </div>
      <CategoryFormComponent
        v-model:category="focused_category"
        :is_modal="true"
        :mode="'review'"
        ref="categoryDialog"
        @submit:updatedAndApproved="approve(index, $event)"
        @submit:denied="deny(index, undefined)"
      ></CategoryFormComponent>
      <ItemSourceFormComponent
        v-model:item_source="focused_item_source"
        :is_modal="true"
        :mode="'review'"
        ref="itemSourceDialog"
        @submit:updatedAndApproved="approve(index, $event)"
        @submit:denied="deny(index, undefined)"
      ></ItemSourceFormComponent>
      <ItemFormComponent
        v-model:item="focused_item"
        :is_modal="true"
        :mode="'review'"
        ref="itemDialog"
        @submit:updatedAndApproved="approve(index, $event)"
        @submit:denied="deny(index, undefined)"
      ></ItemFormComponent>
    </div>
  </div>
</template>

<script lang="js">

import { showAlert } from "../../global_lib/alerts";
import ModerationCardComponent from "../components/ModerationCard";
import CategoryFormComponent from "../components/data_control/forms/CategoryForm";
import ItemSourceFormComponent from "../components/data_control/forms/ItemSourceForm";
import ItemFormComponent from "../components/data_control/forms/ItemForm";
import { getModerationQueue, sendModerationAction } from "../coms";

export default {
    data() {
        return {
            moderation_list: [],
            focused_category: {},
            focused_item_source: {},
            focused_item: {},
            moderation_list_loaded: false
        }
    },
    created: function () {
        getModerationQueue().then(data => {
            this.moderation_list = data
            this.moderation_list_loaded = true
        })
    },
    components: {
        CategoryFormComponent,
        ModerationCardComponent,
        ItemSourceFormComponent,
        ItemFormComponent
    },
    methods: {
        // Finds the index of the given UUID
        // Returns -1 if the id isn't in the list
        cardIndex(uuid) {
          for (var i = 0; i < this.moderation_list.length; i++) {
            if (this.moderation_list[i].uuid == uuid) {
              return i;
            }
          }
          return -1;
        },
        approve(uuid, data) {
            if (data === undefined) {
                data = this.moderation_list[this.cardIndex(uuid)]
            }
            sendModerationAction("approve", data.uuid).then(resp => {
                switch (resp.status) {
                case 200:
                    showAlert({
                        message: `Approved ${data.name}`,
                        timeout: 5,
                        level: "success"
                    });
                    this.moderation_list.splice(this.cardIndex(uuid), 1);
                    break;
                case 422:
                    showAlert({
                        message: `Can't approve: ${resp.data.result}`
                    });
                }
            }).catch(err => {
                console.log(`Moderation action failed: ${err}`);
            });
        },
        deny(uuid) {
            sendModerationAction("deny", uuid).then(success => {
                if (success) {
                    showAlert({
                        message: `Denied ${this.moderation_list[this.cardIndex(uuid)].name}`,
                        timeout: 5,
                        level: "danger"
                    });
                    this.moderation_list.splice(this.cardIndex(uuid), 1);
                }
            }).catch(err => {
                console.log(`Moderation action failed: ${err}`);
            });
        },
        more(uuid) {
            let index = this.cardIndex(uuid);
            console.log("Setting", this.moderation_list[index], "to internal form");
            switch (this.moderation_list[index].type) {
                case "W101Category":
                    this.focused_category = this.moderation_list[index];
                    this.$refs.categoryDialog.openModal();
                    break;
                case "W101ItemSource":
                    this.focused_item_source = this.moderation_list[index];
                    this.$refs.itemSourceDialog.openModal();
                    break;
                case "W101Item":
                    this.focused_item = this.moderation_list[index];
                    this.$refs.itemDialog.openModal();
                    break;
                default:
                    console.warn(`Unhandled 'more' for ${this.moderation_list[index].type}`);
            }
        }
    }
}

</script>
