<template>
<div></div>
  <!-- <div>
    <multiselect
        v-model="selection"
        deselect-label="Can't remove this value"
        track-by="external_id"
        label="name"
        placeholder="Select one"
        :options="options"
        :allow-empty="false">
      <template v-slot:tag="{ option, remove }" >
        <span class="custom__tag">
          <span>{{ option.name }}</span>
          <span class="custom__remove" @click="remove(option)">❌</span>
        </span>
      </template>
      <span slot="noResult">Nothing found. Check your search or create it!</span>
    </multiselect>
  </div>

    <div>
    <label class="typo__label">Single select / dropdown</label>
    <multiselect v-model="value" deselect-label="Can't remove this value" track-by="name" label="name" placeholder="Select one" :options="options" :searchable="false" :allow-empty="false">
        <template v-slot:singleLabel="{ option }" ><strong>{{ option.name }}</strong> is written in<strong>  {{ option.language }}</strong></template>
    </multiselect>
    <pre class="language-json"><code>{{ value  }}</code></pre>
    </div> -->
</template>

<script>
// import Multiselect from '@suadelabs/vue3-multiselect'
// export default {
//     components: {
//         Multiselect
//     },
//     data() {
//         return {
//             selection: [],
//             options: [],
//             isLoading: false
//         }
//     },
//     methods: {
//         limitText(count) {
//             return `and ${count} other countries`
//         },
//         asyncFind(query) {
//             this.isLoading = true
//             ajaxFindCountry(query).then(response => {
//                 this.countries = response
//                 this.isLoading = false
//             })
//         },
//         clearAll() {
//             this.selection = []
//         }
//     }
// }
</script>