.resume-card {
    max-width: 500px;
    min-width: 300px;
    flex-basis: 300px;
    @media(max-width: $mobile-breakpoint) {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 2rem !important;
    }
}
.btn-resume {
    min-width: 75px;
}
.header {
    @media(max-width: $mobile-breakpoint) {
        text-align: center;
    }
}
.subheader {
    @extend .text-muted;
    max-width: 40%;
    @media(max-width: $mobile-breakpoint) {
        max-width: 80%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}