<!-- Alert.vue -->
<template>
  <div>
    <v-alert
      class="text-center"
      :value="!!alert['message']"
      :type="type"
      dismissible
      outlined
      border="left"
      @input="closeAlert"
      >{{ alert['message'] }}</v-alert
    >
  </div>
</template>

<script>
  // import { mapState, mapMutations } from "vuex";

  export default {
    // computed: {
    //   ...mapState("pgtalert", ["alert"])
    // },

    // methods: {
    //   ...mapMutations("pgtalert", ["setAlert"]),
    //   closeAlert(val) {
    //     this.setAlert({});
    //   }
    // }
  };
</script>
