<template>
  <v-parallax class="d-flex masthead-full" :src="bgImage">
    <div class="attribution" v-if="attribution"><a href="attribution.link">img_attr: {{ attribution.text }}</a></div>
    <v-container class="container text-center my-auto">
      <h1 class="mb-1" v-if="title">{{ title }}</h1>
      <h3 class="mb-5" v-if="subtitle">{{ subtitle }}</h3>
      <div class="d-flex justify-center navigation-links">
        <template
          v-for="link in links"
          :key='link'
        >
          <v-btn v-if="link.link"
            :href='link.link'
            :disabled='link.disabled'
            :text="link.text"
            class="mx-1"
          />
          <v-btn v-else-if="link.to"
            :to='link.to'
            :disabled='link.disabled'
            :text="link.text"
            class="mx-1"
          />
          <v-btn v-else
            :disabled='link.disabled'
            :text="link.text"
            class="mx-1"
          />
        </template>
      </div>
    </v-container>
    <div class="overlay"></div>
  </v-parallax>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      optional: true
    },
    subtitle: {
      type: String,
      optional: true
    },
    links: {
      type: Array,
      optional: true,
      default: function() { return [] },
      // validator: function(links) {
      //   return links.every(e => {
      //     "text" in e && "link" in e
      //   });
      // }
    },
    backgroundImage: {
      type: String,
      optional: true
    },
    attribution: {
      type: Object,
      optional: true,
      validator: function(links) {
        links.every(e => {
          e && 'text' in e && 'link' in e
        });
      }
    }
  },
  computed: {
    bgImage() {
      if (this.backgroundImage) {
        return this.backgroundImage
      } else {
        return ""
      }
    },

  }
}
</script>

<style lang="scss" scoped>
.masthead-full {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../../images/portfolio/backgrounds/masthead.xl.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -10px 10px -10px  rgba(0, 0, 0, 0.6);
  .attribution {
    float: right;
    bottom: 5px;
    right: 5px;
    position: absolute;
    a {
      font-size: 10pt;
      color: lightgray;
      text-decoration: none;
    }
  }
  .navigation-links {
    margin-top: 20vh;
  }
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: white;
    // text-shadow: 3px 6px 8px rgba(0,0,0,0.95);
  }
  h3 {
    color: white;
    // text-shadow: 3px 4px 8px rgba(0,0,0,0.95);
  }
  @media (min-width: 500px) and (min-height: 650px) {
    height: 100vh;
    background-attachment: fixed;
    h1 {
      font-size: 7rem;
    }
  }
}
</style>