<template>
<v-card>
  <div class="d-flex flex-row">
    <v-chip class="mr-1">{{ displayType }}</v-chip>
    <v-chip class="mr-1">u/{{ moderatable.username }}</v-chip>
  </div>
  <v-card-title>{{ truncateText(moderatable.name, 40, "...") }}</v-card-title>
  <v-card-text>{{ truncateText(moderatable.description, 200, "...") }}</v-card-text>
  <v-card-actions>
    <v-btn class="card-link" v-on:click="$emit('approve', this)">Approve</v-btn>
    <v-btn class="card-link deny" v-on:click="$emit('deny', this)">Deny</v-btn>
    <v-btn class="card-link more" v-on:click="$emit('openDialog', this)">More...</v-btn>
  </v-card-actions>
</v-card>
</template>

<script>
// trimHtml(
//   safeLinkify(description, ["wizard101central.com"]),
//   { limit: 200, suffix: "..." }
// ).html

import { truncateText } from "@/utils/misc.js";

export default {
  props: {
    moderatable: {
      type: Object
    }
    // name: {
    //   type: String
    // },
    // type: {
    //   type: String
    // },
    // description: {
    //   type: String
    // },
    // username: {
    //   type: String
    // }
  },
  computed: {
    cardClass() {
      switch (this.moderatable.type.toLowerCase()) {
        case 'w101item': return 'item';
        case 'w101itemsource': return 'item-source';
        case 'w101category': return 'category';
        case 'w101dropattempt': return 'drop-attempt';
        default: return 'undefined';
      }
    },
    displayType() {
      switch (this.moderatable.type.toLowerCase()) {
        case 'w101item': return 'item';
        case 'w101itemsource': return 'item source';
        case 'w101category': return 'data category';
        case 'w101dropattempt': return 'drop attempt';
        default: return 'undefined';
      }
    }
  },
  methods: {
    // linkAndTrim() {
    //     return trimHtml(safeLinkify(text, ["wizard101central.com"]), { limit: 200, suffix: "..." }).html;
    // },
    truncateText: truncateText,
  },
  emits: ["openDialog", "approve", "deny"],
}
</script>