<template>
  
  <NameField
    v-model:value="name"
    @blur="revalidate('name')"
    :disabled="locked"
    :errors="v$.name.$errors"
  ></NameField>
  <CategoryField
    v-model:value="category"
    @blur="revalidate('category')"
    :disabled="locked"
  ></CategoryField>
  <DescriptionField
    v-model:value="description"
    @blur="revalidate('description')"
    :disabled="locked"
    :errors="v$.description.$errors"
    :helpText="'Anything the player can recieve. You must provide a link to the Wizard101 wiki.'"
  ></DescriptionField>
</template>

<script>
// const trimHtml = require('trim-html');
// const { truncateText } = require("../../../corelib/misc.js");
import useVuelidate from "@vuelidate/core";
import { required, maxLength } from "@vuelidate/validators";
// import { oneOf } from "../../../global_lib/vuelidate_validators";
import { createItem } from "../../../coms";
//import { showAlert } from "../../../../global_lib/alerts";
import { showAlert } from "@/global_lib/alerts";

import DescriptionField from "../inputs/DescriptionField";
//import AppliesToField from "../inputs/AppliesToField";
import NameField from "../inputs/NameField";
import CategoryField from "../inputs/CategoryField.vue";

export default {
  emits: [
    "update:itemDrop",
    "update:validation",
    "submit:created",
    "submit:failed_validation",
    "submit:updated",
    "submit:updatedAndApproved",
    "submit:denied",
    "submit:canceled",
    "modal:open",
    "modal:close",
  ],
  components: {
    DescriptionField,
    NameField,
    CategoryField,
  },
  props: {
    item: {
      type: Object,
      optional: true,
    },
    is_modal: {
      type: Boolean,
      optional: true,
    },
    lock: {
      type: Boolean,
      optional: true,
    },
    mode: {
      type: String,
      optional: false,
    },
  },
  data() {
    return {
      vuelidateExternalResults: {},
      //external_validation: {},
      modal: null,
      itemInternal: Object.assign({}, this.item),
      lock_internal: false,
      closingFlag: false,
      modeSettings: {
        create: {
          title: "Create New Item",
          buttons: {
            ok: "Create",
            deny: null,
          },
        },
        review: {
          title: "Review Item",
          buttons: {
            ok: "Approve",
            deny: "Deny",
          },
        },
      },
    };
  },
  setup() {
    return { v$: useVuelidate() };
  },
  mounted() {
    if (this.$refs.modal) {
      this.modal = new Modal(this.$refs.modal);
      this.$refs.modal.addEventListener("hidden.bs.modal", () => {
        this.$emit("modal:close");
        if (!this.closingFlag) {
          this.$emit("submit:canceled");
        }
        this.closingFlag = false;
      });
      this.$refs.modal.addEventListener("shown.bs.modal", () => {
        this.$emit("modal:open");
      });
    }
  },
  watch: {
    item(val, oldVal) {
      if (val !== oldVal) {
        this.itemInternal = val;
      }
    },
  },
  validations() {
    // const valid_applications = ["DR", "DS", "AL"];
    return {
      name: {
        required,
        maxLength: maxLength(20),
        //external: backendApproved("name", this),
      },
      // category: {
      //   required,
      //   oneOf: oneOf(valid_applications),
      //   //external: backendApproved("category", this),
      // },
      description: {
        required,
        maxLength: maxLength(500),
        //external: backendApproved("description", this),
      },
    };
  },
  methods: {
    revalidate(name) {
      //this.v$.$clearExternalResults();
      this.v$[name].$touch();
    },
    submit() {
      // keep same "this" context
      switch (this.mode) {
        case "review":
          this.approveWithUpdates.call(this);
          break;
        case "create":
          this.submit_as_new.call(this);
          break;
      }
    },
    deny() {
      switch (this.mode) {
        case "review":
          this.$emit("submit:denied");
          this.closingFlag = true;
          this.closeModal();
          break;
        default:
          console.log("Deny called for unhandled mode");
      }
    },
    cancel() {
      this.modal.hide();
    },
    approveWithUpdates() {
      if (this.locked) return;
      this.$emit("submit:updatedAndApproved", this.itemInternal);
      this.closingFlag = true;
      this.closeModal();
    },
    submit_as_new() {
      if (this.locked) return;
      this.external_validation = {};
      this.v$.$touch();

      const submitted = Object.assign({}, this.itemInternal);

      if (this.v$.$invalid) {
        this.$emit("submit:failed_validation", this.itemInternal);
        showAlert({ message: "failed client validation" });
        this.v$.$touch();
        return;
      }

      this.lock_internal = true;
      createItem(submitted)
        .then((resp) => {
          if (resp.status == 201) {
            // create success
            this.$emit("submit:success", submitted);
            this.itemInternal = {};
            this.$emit("update:item", this.itemInternal);
            this.closingFlag = true;
            this.closeModal();
          } else if (resp.status == 400) {
            // validation error
            this.$emit("submit:failed_validation", submitted);
            Object.assign(this.vuelidateExternalResults, resp.data);
            showAlert({
              message: JSON.stringify(resp.data),
              dismissable: true,
              timeout: 2,
            });
            this.v$.$touch();
          } else if (resp.status == 403) {
            console.log("Failed to authenticate");
          } else {
            console.log("UNKNOWN RESPONSE CODE: ", resp.status);
          }
        })
        .catch((err) => {
          console.log(err);
          console.log("FAILED TO HANDLE SUBMIT RESPONSE");
        })
        .finally(() => {
          this.lock_internal = false;
          this.v$.$validate();
        });
    },
    openModal() {
      this.modal.show();
    },
    closeModal() {
      //this.v$.reset();
      this.modal.hide();
    },
  },
  computed: {
    locked: function () {
      return this.lock || this.lock_internal;
    },
    name: {
      get() {
        return this.itemInternal.name;
      },
      set(value) {
        this.itemInternal.name = value;
        if (this.mode == "submit") {
          this.$emit("update:item", Object.assign({}, this.itemInternal));
        }
      },
    },
    category: {
      get() {
        return this.itemInternal.category;
      },
      set(value) {
        this.itemInternal.category = value;
        if (this.mode == "submit") {
          this.$emit("update:category", Object.assign({}, this.itemInternal));
        }
      },
    },
    description: {
      get() {
        return this.itemInternal.description;
      },
      set(value) {
        this.itemInternal.description = value;
        if (this.mode == "submit") {
          this.$emit("update:item", Object.assign({}, this.itemInternal));
        }
      },
    },
  },
};
</script>

