<template>
  <div class="modal fade" ref="modal" tabindex="-1">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <slot name="header">
              <i>No Header Provided</i>
            </slot>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <slot name="body">
            <i>No Body Provided</i>
          </slot>
        </div>
        <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              @click="close()"
            >
              <slot name="cancel">
                Cancel
              </slot>
            </button>
          <slot name="footer">
            <!-- No extra footer provided -->
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  emits: [
    "modal:open",
    "modal:close",
    "submit:canceled"
  ],
  data: {
    modal: null,
    closingFlag: false,
  },
  mounted() {
    if (this.$refs.modal) {
      this.modal = new Modal(this.$refs.modal);
      this.$refs.modal.addEventListener("hidden.bs.modal", () => {
        this.$emit("modal:close");
        if (!this.closingFlag) {
          this.$emit("submit:canceled");
        }
        this.closingFlag = false;
      });
      this.$refs.modal.addEventListener("shown.bs.modal", () => {
        this.$emit("modal:open");
      });
    }
  },
  methods: {
    open() {
      this.modal.show();
    },
    close() {
      this.modal.hide();
    },
  }
}
</script>

<style>

</style>