{% load static %}
{% load crispy_forms_tags %}

<div class="modal fade" id="id{{ form.Meta.name }}" tabindex="-1" role="dialog" aria-labelledby="label-{{ form.Meta.name }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-{{ form.Meta.name }}">New {{ form.Meta.label }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% crispy form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="submit{{ form.Meta.name }}Btn" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>