{% load static %}

<div class="card resume-card">
  <img class="card-img-top" src={% static project.title_img %}>
  <div class="card-body">
    <a href="{% url "datascience:w101_droprate_dashboard" %}">
      <h5 class="card-title">{{ project.name }}</h5>
    </a>
    <p class="card-text">{{ project.subtitle_description }}</p>
  </div>
</div>