{% extends "_base.html" %}

{% block content %}
{# TODO: hover-over on the project fades the background of the page into a slideshow of the project #}
<div class="my-4 container">
    <h2 class="header">Data Science Projects!</h2>
    <div class="d-flex flex-wrap justify-content-between">
        {% for project in projects %}
            {% include 'datascience/_project_card.html' with project=project %}
        {% endfor %}
    </div>
</div>
{% endblock content %}