body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include body-font;
}

// Content Section
.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.plain-section {
  max-width: 75%;
  align-content: center;
}

// Inline that grows to 300px and has min size of 200px
.logo-lg {
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  max-width: 300px;
  background: url("../../../../assets/images/core/icons/logo.svg") no-repeat;
  background-position: center center;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-30px {
  margin-bottom: 30px;
}

.padding-bottom-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.mt-30px {
  margin-top: 30px;
}

.content-section-heading {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: fade-out($white, 0.3);
}

/* Map */

.map {
  height: 30rem;
}

@media(max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray;
  }
  i {
    font-weight: 800;
  }
}
