<template>
<div class="card moderation-card">
  <div class="card-body d-flex flex-column">
    <div class="d-flex flex-row">
      <span class="badge badge-pill mr-1" v-bind:class="cardClass">{{ displayType }}</span>
      <span class="badge badge-pill username mr-1">u/{{ moderatable.username }}</span>
    </div>
    <div class="d-flex align-items-center flex-row pt-2">
      <div class="mod-name divider">
        <h5 class="card-title">{{ truncateText(moderatable.name, 40, "...") }}</h5>
      </div>
      <p class="card-text mod-desc">{{ truncateText(moderatable.description, 200, "...") }}</p>
    </div>
    <div class="d-flex flex-row approval-links pt-2">
      <a class="card-link" v-on:click="$emit('approve', this)">Approve</a>
      <a class="card-link deny" v-on:click="$emit('deny', this)">Deny</a>
      <a class="card-link more" v-on:click="$emit('openDialog', this)">More...</a>
    </div>
  </div>
  <!--<div class="position-absolute d-flex justify-content-around overlay align-content-center">
    <button class="btn btn-primary">Example</button>
    <button class="btn btn-primary">Example</button>
    <button class="btn btn-primary">Example</button>
  </div>-->
</div>
</template>

<script>
// trimHtml(
//   safeLinkify(description, ["wizard101central.com"]),
//   { limit: 200, suffix: "..." }
// ).html

import { truncateText } from "../../global_lib/misc.js";

export default {
  props: {
    moderatable: {
      type: Object
    }
    // name: {
    //   type: String
    // },
    // type: {
    //   type: String
    // },
    // description: {
    //   type: String
    // },
    // username: {
    //   type: String
    // }
  },
  computed: {
    cardClass() {
      switch (this.moderatable.type.toLowerCase()) {
        case 'w101item': return 'item';
        case 'w101itemsource': return 'item-source';
        case 'w101category': return 'category';
        case 'w101dropattempt': return 'drop-attempt';
        default: return 'undefined';
      }
    },
    displayType() {
      switch (this.moderatable.type.toLowerCase()) {
        case 'w101item': return 'item';
        case 'w101itemsource': return 'item source';
        case 'w101category': return 'data category';
        case 'w101dropattempt': return 'drop attempt';
        default: return 'undefined';
      }
    }
  },
  methods: {
    // linkAndTrim() {
    //     return trimHtml(safeLinkify(text, ["wizard101central.com"]), { limit: 200, suffix: "..." }).html;
    // },
    truncateText: truncateText,
  },
  emits: ["openDialog", "approve", "deny"],
}
</script>