$shadow-width: 5;
$shadow-height: 5;
$shadow-intensity: 0.08;

.card {
    border-style: solid;
    border-color: darkgray;
    .input-group-prepend.btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.btn.disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

form .form-group:not(:last-of-type) {
    @extend .mb-3
}