$primary: #039463 !default;
$secondary: #006625 !default;
$background-dark: #06003f !default;
$background-light: #067eb4 !default;
$enable-shadows: true;

$border-radius:     .25rem * 2;
$border-radius-lg:  .3rem  * 2;
$border-radius-sm:  .2rem  * 2;

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;