.floating-right-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
}

.fa-red {
    color: color("red");
}

.fa-fade-in {
    animation: fade-in ease 
}

@keyframes fade-in { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

