@import "~autocomplete-js/dist/autocomplete.css";

.field-short {
    max-width: 5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.no-spinner,
input::-webkit-inner-spin-button.no-spinner {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number].no-spinner {
    -moz-appearance: textfield;
}


.autocomplete {
    transition: 0.5s;
    z-index: 5;

    ul {
        border-radius: $border-radius;
    }
    li:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    li:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    &.open {
        border-color: #66AFE9;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px 0px $primary;
        outline: 0px none;
        transition: 0.5s;
        z-index: 2;
    }
}