// Alert colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$transition-time: 0.1s;

// Just... colors
$gray: rgb(184, 184, 184);
$dirty-white: rgb(201, 201, 201);
$title-color: #00ffaa;
$footer-size-normal: 100px;
$global-background: rgb(250, 250, 250);
$footer-background: $global-background;
$shadow-color: rgba(0, 0, 0, 0.30);


$mobile-breakpoint: 440px;