@import "custom_bootstrap_vars";

// bootstrap
@import "~bootswatch/dist/lumen/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/bootswatch";

// fontawesome
// font awesome is picky about stuff
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "variables";
@import "bootstrap_modifications";

@import "fa_custom";
@import "portfolio/portfolio";
@import "forms";
@import "datascience/moderation_queue";
@import "datascience/vs_selector";
@import "vue-select/src/scss/vue-select.scss";




////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

body {
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  background-color: $global-background;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: $footer-background;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 110px;
  width: 100%;

  .connections-icons {
    margin-bottom: 5px;

    .btn {
      font-size: 12pt;
      margin-left: 1.5%;
      margin-right: 1.5%;
    }
  }
}

.navbar-transparent {
  border-style: none;

  a {
    &.nav-link,&.navbar-brand {
      transition: $transition-time;
      transition-property: color;
      color: black;

      &:hover {
        color: $primary;
      }
    }
  }

  .nav-item {
    font-weight: lighter;
  }
}

// Custom container sizing
.container.container-mediumlike {
  max-width: 700px;
  padding-left: 3rem;
  padding-right: 3rem;
}

// alert area container
.alert-container {
  left: 50px;
  max-width: 300px;
  min-width: 200px;
  //TODO: alert container adjusts for mobile
  z-index: 9999;
  border-radius: 0px;
  overflow: hidden;

  .alert {
    margin-bottom: 8px;
    padding: 2px 2px 2px 10px;

    .close {
      // btn is too far into corner
      margin-top: 2px;
      margin-right: 5px;
    }
  }

  @media(max-width: $mobile-breakpoint) {
    left: 0;
  }
}

.fill-parent {
  min-width: 100%;
  min-height: 100%;
}

.fill-parent-height {
  min-height: 100%;
}

.aspect-ratio-4-3 {
  width: 100%;
  height: calc(100% - 25%);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}