<template>
  <v-container>
    <v-row>
      <v-col v-for="n in 24" :key="n">
        <v-card width="300" v-for="card in cards" :key="card">
          <v-img height="150" :src="card.image" />
          <router-link v-if="card.to" :to="card.to"><v-card-title>{{ card.title }}</v-card-title></router-link>
          <v-card-title v-if="card.link" :href="card.link"><h3>{{ card.title }}</h3></v-card-title>
          <v-card-text>{{ card.description }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        {
          image: require("@/assets/logo.png"),
          title: "Wizard101 Droprate Crowdsourcing",
          description: "Using community-provided information and mixing in sound statistics + moderation, help the W101 community discover the game's true droprates",
          to: "w101_droprate",
        },
      ],
    };
  },
};
</script>

<style>
</style>