<template>
  <moderation-card
    :moderatable="moderatable" />
</template>

<script>
import ModerationCard from "@/components/datascience/ModerationCard.vue"

export default {
    components: {
        ModerationCard
    },
    data() {
        return {
            moderatable: {
                name: "testname",
                type: "w101item",
                username: "testuser",
                description: "testdescription"
            }
        }
    }
}
</script>

<style>

</style>