{% extends "_base.html" %}
{% load static %}

{% load webpack_static from webpack_loader %}

{% block content %}
<div id="moderation-app" class="my-4"></div>
{% endblock content %}

{% block css %}
  <!--Moderation dashboard-->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/vue-next-select/dist/index.min.css" />
  <!--End Moderation dashboard-->

  {{ block.super }}
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <!--Moderation dashboard-->
  <script type="text/javascript" src="{% webpack_static 'js/datascience/moderation.js' %}"></script>
{% endblock javascript %}