{% extends '_base.html' %}

{% block content %}
<div class="mt-4 container container-mediumlike">
    <center>
        <h1>A Programmer is more than their Code</h1>
    </center>
    <h2>Ethics</h2>
    <p>
        Since high school I've struggled to understand how people are capable of doing things they know will cause harm
        to others. It's a stream of thought processes I'm simply incapable of
        understanding and I believe it is moving further and further to becoming the normal in modern day technology.
        <i>People are becoming second to profits.</i>
    </p>
    <p>
        It makes me feel sick.
    </p>
    <p>
        I want to be a force that fights to put people first in technology. This isn't difficult. As a programmer, I
        always follow the ACM ethics code and hope to contribute to the wider collective of developers that feel the
        same. It's everyone's responsibility to keep technology working for its users first, not just developers, but
        administration too.
    </p>
    <p>
        If you feel the same way or would like to see a professional's understanding of the problem, please feel free to
        check out <a href="https://blog.ethanzeigler.com">my blog.</a> I frequently share articles about computer
        science ethics that need to be more widely recognized and other interesting tidbits. On occasion, I'll write
        something myself, too.
    </p>
    <hr>
    <p>
        Now that <i>that's</i> out of the way...
    </p>
    <p>
        <h2>About Me</h2>
        Hiya! My name is Ethan Zeigler, and I'm a diagnosed psychop... <sub>Wait that's a different speech.*</sub> My
        name is Ethan Zeigler, and I am a software engineer and educator based in southern New Jersey. If you want to
        have a fun
        discussion with me or want me to show my passion for learning, ask about one of these things. You'll get a long
        and occasionally interesting rant. Oh, and learn more about my personality and who I am. You'll probably come to
        a conclusion fairly quick. It's some kind of mix between a happy puppy who is fascinated by just about
        everything, and a realist who wants to improve the world around him.
        <ul>
            <li>The physics and geometry behind bowling</li>
            <li>The internet of things (IOT) security nightmare waiting to happen</li>
            <li>How the Internet works on a technical level</li>
            <li>
                How cartoons are increasingly aimed at an adult audience despite their looks such as Steven Universe or
                Avatar
            </li>
            <li>The history behind our "throw away" culture</li>
            <li>How a CPU works internally and why I still can't believe it doesn't fail hundreds of times a second</li>
            <li>How our brains perceive color and why color deficiency, better known as color blindness, happens</li>
            <li>Mindfulness and meditation</li>
            <li>Why old plastic yellows</li>
        </ul>
        I'm essentially a walking dictionary of random knowledge. HMU if you have an odd question.<br><br>
        <sup class="pt-3">* This is only a joke.</sup>
    </p>
    <h2>Skillset</h2>
    <p>
        Currently, I'm an expert at the Java language and very adept in python. However, I've been leaning more towards
        golang for my newer projects due to it's sheer simplicity and maintainability. Normally, my focus is on
        developing backend technology and middleware. I'm reasonably familiar with RDS and SQl, specifically Postgres,
        and have a strong understanding of concurrent and parallel processing. Writing performant code is so much fun
        to me and having it well documented is the cherry on top.
    </p>
    <p>
        There's no replacement for actual code examples though. In the footer below you'll find a github button. Please
        feel free to explore my work. Not all of it is up to my professional standards. My more serious works are pinned
        in my profile. It comes down to the amount of work in the project and it's usage beyond myself.
    </p>
    <p>Thanks for visiting my site!</p>
</div>
{% endblock content %}