{% extends '_base.html' %}

{% block content %}
  <ul>
    <li><a href="{% url 'datascience:w101_droprate_category_list' %}">Category List</a></li>
    <li><a href="{% url 'datascience:w101_droprate_category_autocomplete' %}">Category Autocomplete</a></li>
    {% comment %} <li><a href="{% url 'datascience:w101_droprate_category_detail' %}">Category Detail</a></li> {% endcomment %}

    <li><a href="{% url 'datascience:w101_droprate_item_source_list' %}">Item Source List</a></li>
    <li><a href="{% url 'datascience:w101_droprate_item_source_category_autocomplete' %}">Item Source's Category Autocomplete</a></li>
    {% comment %} <li><a href="{% url 'datascience:w101_droprate_item_source_detail' %}">Item Source Detail</a></li> {% endcomment %}

    <li><a href="{% url 'datascience:w101_droprate_drop_attempt_list' %}">Drop Attempt List</a></li>
    {% comment %} <li><a href="{% url 'datascience:w101_droprate_drop_attempt_detail' %}">Drop Attempt Detail</a></li> {% endcomment %}
    <li><a href="{% url 'datascience:w101_droprate_drop_attempt_form' %}">Drop Attempt Form</a></li>
  </ul>
{% endblock content %}