{% extends '_base.html' %}

{% block navigation %}{% endblock navigation %}

{% block content %}

<!-- Header -->
  <header class="masthead-full d-flex">
    <div class="attribution"><a href="https://www.outdoorproject.com/users/tyson-gillard">img_attr:Tyson Gillard</a></div>
    <div class="container text-center my-auto">
      <h1 class="mb-1">Ethan Zeigler</h1>
      <h3 class="mb-5">
        <em>Software Solutions</em> for Real World Problems
      </h3>
      <div class="flex-container navigation-links">
        <a class="btn btn-primary btn-lg m-2 js-scroll-trigger disabled" href="https://calendar.google.com/calendar/embed?src=p6cvqb95rs0cmoh9o70narodpo%40group.calendar.google.com&ctz=America%2FNew_York">Tutoring Calendar</a>
        <a class="btn btn-primary btn-lg m-2 js-scroll-trigger" href="{% url 'datascience:projects' %}">Apps</a>
        <a class="btn btn-primary btn-lg m-2 js-scroll-trigger" href="https://blog.ethanzeigler.com/">Blog</a>
        <a class="btn btn-primary btn-lg m-2 js-scroll-trigger" href="{% url 'resume' %}">Resume</a>     
        <a class="btn btn-primary btn-lg m-2 js-scroll-trigger" href="{% url 'about' %}">About</a>
      </div>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="d-flex flex-wrap justify-content-center text-center align-items-center plain-section mx-auto">
      <div class="col logo-lg mb-5"></div>
      <div class="col-md">
        <h2>
          “Your work is going to fill a large part of your life, and the only way to be truly
          satisfied is to do what you believe is great work.” - <i>Jobs</i>
        </h2>
        <div class="mx-auto plain-section text-center">
          <p class="lead">This isn't here because its inspiring, but because it's how I do my work every day.</p>
          <p class="lead mb-0">A job done poorly is not truly done.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section pb-4 bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Why me?</h3>
        <h2 class="mb-5">I'm More than my Code</h2>
      </div>
      <div class="row justify-content-sm-around">
        <div class="col-lg-3 col-md-6 mb-5 ">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-check"></i>
          </span>
          <h4>
            <strong>Stakeholder First</strong>
          </h4>
          <p class="text-faded mb-0">Software, user interfaces, and performance should work <i>for</i> stakeholders, not against them</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-star"></i>
          </span>
          <h4>
            <strong>Enthusiastic</strong>
          </h4>
          <p class="text-faded mb-0">A project isn't just the product, but moreover a love for the work and its purpose</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-heart"></i>
          </span>
          <h4>
            <strong>Compassionate</strong>
          </h4>
          <p class="text-faded mb-0">A caring heart goes further and stronger through adversities than even a brilliant mind</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-book-open"></i>
          </span>
          <h4>
            <strong>Scholarly</strong>
          </h4>
          <p class="text-faded mb-0">Learning for the sake of learning is not only fun, but the comes in handy more than one would think</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 ">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-present"></i>
          </span>
          <h4>
            <strong>Friendly</strong>
          </h4>
          <p class="text-faded mb-0">A happy and connected team has better health, less burnout, more fun, and makes better work</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 ">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-grid"></i>
          </span>
          <h4>
            <strong>Organized</strong>
          </h4>
          <p class="text-faded mb-0">Messy code makes me feel bad. Therefore, I <i>don't</i> write messy code. Usually. We're humans.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto">Have an empty space on your canvas, or need to smooth out some edges?
        <em>Let's make something great together!</em>
      </h2>
      <a class="mb-0 btn btn-primary btn-xl" href="mailto:zeiglee1@tcnj.edu">Contact me!</a>
    </div>
  </section> -->

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
        <h5 class="mb-5">Whoops! This will soon automatically fill with projects and news, but it's a work in progress. Checkout my
          <a href="https://github.com/EthanZeigler">github</a> for the time being!
        </h5>
      </div>
      <div class="row no-gutters">
        <!--<div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stationary</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
          </a>
        </div>-->
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">I share stuff! Want to listen?</h2>
      <h4 class="mb-4"><span class="text-faded">(git) <i>Check out my blog!</i></h4>
      <div class="mb-4 d-flex justify-content-center">
        <a href="https://blog.ethanzeigler.com" class="btn btn-lg btn-dark align-content-center mx-3">The Musings of a Software Engineer</a>
      </div>
      <h2 class="my-3 mt-5">Or peek at some social feeds</h4>
      <a class="twitter-timeline" data-width="500" data-height="500" data-dnt="true" href="https://twitter.com/zeigler_ethan?ref_src=twsrc%5Etfw">Tweets by zeigler_ethan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
    </div>
  </section>

{% endblock content %}
