{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="my-4 container">
  <h2 class="header">Resume Versions</h2>
  <div class="subheader mb-4">
    <h4><small>For privacy reasons, my full resume is hidden. If you have the code to view the full version, enter it on the right (or bottom, if on mobile)</small></h4>
  </div>
  <div class="d-flex flex-wrap">
    <div class="small card resume-card mr-5 mb-2">
      <img class="card-img-top" src="{% static 'images/portfolio/backgrounds/material-paper-simple.sm.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Basic</h5>
        <p class="card-text">Simple, internet-friendly version. No personal identifying information.</p>
        <a href="#" class="btn btn-primary btn-resume mt-auto disabled">Open</a>
        <span class="text-muted">Coming soon</span>
      </div>
    </div> 
    <div class="card resume-card mr-5">
      <img class="card-img-top" src={% static 'images/portfolio/backgrounds/material-paper-complex.sm.jpg' %} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Full</h5>
        <p class="small card-text">Complete resume with contact information and other details that are not safe to be on the open internet. To view this, a codeword is needed that someone who has interacted with me in person will know. If you don't and you should, please ask me for it.</p>
        <div class="small input-group">
          <label for=full-resume-button><b>Codeword:</b> left side, 3rd line, 2nd word of business card + right side, 2nd line, 1st word letters 2-3</label>
          <button id="full-resume-btn" class="input-group-prepend btn btn-primary disabled btn-resume d-inline">Open</button>
          <input type="text" class="form-control d-inline" id="resume-codeword-input" placeholder="Codeword">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}