{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Ethan Zeigler{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'images/core/favicons/favicon.ico' %}">
  {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" integrity="sha256-7O1DfUu4pybYI7uAATw34eDrgQaWGOfMV/8erfDQz/Q=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- App scss start -->
    {% render_bundle 'global' 'css' %}
    {% render_bundle 'data_moderation' 'css' %}
    <!-- App scss end -->
  {% endblock %}
</head>
</body>
  <div class="position-absolute">
    <div id=alert-container class="alert-container sticky-top mx-1 pt-1">
      {% if messages %}
      <!-- Messages found -->
        {% for message in messages %}
          <!-- message: {{ message }} -->
          <div role="alert" class="alert alert-{{message.level_tag}} alert-dismissable fade show">
            {{ message.message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% else %}
        <!-- No messages from system -->
      {% endif %}
    </div>
  </div>


{% comment %} TESTING SPACE {% endcomment %}
<div id="moderation-app"></div>







{% comment %} / TESTING SPACE / {% endcomment %}




    <!-- Le javascript -->
  {% block javascript %}
    <!-- Global -->
    {% render_bundle 'global' 'js' %}
    {% render_bundle 'datascience' 'js' %}
  {% endblock javascript %}
</body>
</html>