.moderation-card {
    max-width: 25rem;
    position: relative;
    display: flex;
    .badge-pill {
        font-size: 9pt;
        color:white;
        &:not(:last-of-type) {
            margin-right: 1px;
        }
        &.item {
            background-color: $primary;
        }
        &.item-source {
            background-color:rgb(241, 38, 225)
        }
        &.category {
            background-color:rgb(255, 81, 81)
        }
        &.drop-attempt {
            background-color:rgb(190, 80, 253)
        }
        &.undefined {
            color: black;
            background-color: white;
        }
        &.username {
            background-color: #00aeef;
        }
    }
    .divider {
        border-right: 2pt solid rgb(189, 189, 189);
    }
    .card-title {
        margin-bottom: 0;
    }
    .mod-name {
        width: 8rem;
        flex-shrink: 0;
    }
    .mod-desc {
        padding-left: 1rem;
        font-size: 10pt;
        line-height: 1;
    }
    .card-body {
        padding-top: 0.75rem;
        .approval-links {
            & > * {
                cursor: pointer;
            }
            font-size: 10pt;
            .deny {
                color: $red;
            }
            .more {
                color: $blue;
            }
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 0.5rem;
        flex-grow: 1;
        background-color: white;
        opacity: 0;
        position: absolute;
        z-index: 2;
        transition:opacity 0.25s ease-in;
        .btn {
            height: 34px;
        }
        &:hover {
            opacity: 1;
            background-color: rgba(white, 0.8);
        }
    }
}