{% load static %}
{% load crispy_forms_tags %}
<div class="modal fade show" id="idCategoryForm" tabindex="-1" role="dialog" aria-labelledby="label-CategoryForm" aria-modal="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-CategoryForm">New Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="w101CategoryForm" method="post"> <input type="hidden" name="csrfmiddlewaretoken" value="cMt2vhDcJMohQJ85y9pjTH0Dc1ExL7jZCWDUV3UipuhsDGljVxWgjezKvwpmakqf"> <div id="div_id_category-name" class="form-group"> <label for="id_category-name" class=" requiredField">
                Name<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="category-name" maxlength="20" class="textinput textInput form-control is-invalid" required="" id="id_category-name"> <small id="hint_id_category-name" class="form-text text-muted">A general category like MOB, pack, mount, reagent, etc.</small> </div> </div> <div id="div_id_category-description" class="form-group"> <label for="id_category-description" class="">
                Description
            </label> <div class=""> <textarea name="category-description" cols="40" rows="10" maxlength="500" class="textarea form-control" id="id_category-description"></textarea> </div> </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="submitCategoryFormBtn" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>