{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load static %}

{% block content %}
<div class="container">
  <div id="ds_w101_droprate_app" class="container">
    {% comment %} New data entry dropdown {% endcomment %}
    <div class="d-flex flex-row mb-2">
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
      <div class="mr-3 dropdown">
        <button class="btn btn-primary dropdown-toggle"
                type="button"
                id="newDataDropdown"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="width: 7rem"
        >
          New
        </button>
        <div class="dropdown-menu" aria-labelledby="newDataDropdown">
          <button type="button" class="dropdown-item"
                  title="Record a session from a drop source and contribute to our statistics"
                  data-bs-toggle="modal" data-bs-tooltip="tooltip"
                  data-bs-placement="right" data-bs-target="#idDropAttemptForm">
            Contribute a new drop attempt
          </button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item"
                  title="Create a new category of source or item (MOB, pack, mount, reagent, etc.)"
                  data-bs-toggle="modal" data-bs-tooltip="tooltip"
                  data-bs-placement="right" data-bs-target="#idCategoryForm">
            Create new Data Category
          </button>
          <button type="button" class="dropdown-item"
                  title="Create a new item source (Loremaster, Professor's Hoard Pack, etc.)"
                  data-bs-toggle="modal" data-bs-tooltip="tooltip"
                  data-bs-placement="right" data-bs-target="#idItemSourceForm">
            Create new Item Source
          </button>
          <button type="button" class="dropdown-item"
                  title="Create a new droppable item (Couch Potato, Darkmoor Hood, Pigsie [Trained], Sunstone, etc.)"
                  data-bs-toggle="modal" data-bs-tooltip="tooltip"
                  data-bs-placement="right" data-bs-target="#idItemForm">
            Create new Item
          </button>
        </div>
      </div>

      <button type="button" class="btn btn-primary"
              title="View, edit, and delete your own submissions"
              data-bs-toggle="modal" data-tooltip="tooltip" data-bs-placement="bottom"
              data-bs-target="#idDropAttemptForm", style="width: 7rem">
        My data
      </button>
    </div>
  </div>

</div>


{% include 'datascience/_data_entry_form_ajax.html' with form=category_form %}
{% include 'datascience/_data_entry_form_ajax.html' with form=item_form %}
{% include 'datascience/_data_entry_form_ajax.html' with form=item_source_form %}
{% include 'datascience/_data_entry_form_ajax.html' with form=drop_attempt_form %}

{% endblock content %}


{% block javascript %}
  {{ block.super }}
  <!--Datascience dashboard-->
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="{% webpack_static 'js/datascience/w101_droprate.js' %}"></script>
{% endblock javascript %}