{% extends '_base.html' %}

{% block title %}500 Server Error{% endblock %}

{% block content %}
<h1>500 Server Error</h1>
<p>
Something went wrong internally. If this continues, please contact Ethan
at <i>ethanzeigler-at-gmail-dot-com</i>.
</p>
{% endblock content %}