{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- TODO: Add comfortaa font -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Ethan Zeigler{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="{% static 'images/core/favicons/favicon.ico' %}">

  {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" integrity="sha256-7O1DfUu4pybYI7uAATw34eDrgQaWGOfMV/8erfDQz/Q=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global scss start -->
    {% render_bundle 'global' 'css' %}
    <!-- Global scss end -->
  {% endblock %}
</head>

<body>
  {% block navigation %}
    <nav class="navbar navbar-transparent navbar-expand-sm container-sm">
      {# <div class="container"> #}
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/core/icons/logo.svg' %}" height=44px class="mr-1">
          Ethan Zeigler
        </a>
        <div class="navbar-light"> {% comment %}border shows under weird conditions{% endcomment %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.ethanzeigler.com">Blog </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'resume' %}active{% endif %}" href="{% url 'resume' %}">Resume </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'apps' %}active{% endif %}" href="{% url 'datascience:projects' %}">Apps </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{% url 'about' %}">About </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                 role="button" aria-haspopup="true"
                 aria-expanded="false">
                 Account
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Mailbox</a>
                <a class="dropdown-item" href="#">My Account</a>
                <a class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      {# </div> #}
    </nav>
  {% endblock navigation %}
  {% block alerts %}
    <div class="position-absolute">
      <div id=alert-container class="alert-container sticky-top mx-1 pt-1">
        {% if messages %}
        <!-- Messages found -->
          {% for message in messages %}
            <!-- message: {{ message }} -->
            <div role="alert" class="alert alert-{{message.level_tag}} alert-dismissable fade show">
              {{ message.message }}
              <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% else %}
          <!-- No messages from system -->
        {% endif %}
      </div>
    </div>
  {% endblock alerts %}
  
  <div class="content">{% block content %}{% endblock content %}</div>
  <!-- Footer -->
  <footer class="flex-row footer text-center align-middle">
    <div class="connections-icons wcontainer align-items-center">
      <a class="btn btn-primary" href="">
        <i class="icon-social-linkedin"></i>
      </a>
      <a class=" btn btn-primary" href="mailto:ethanzeigler@gmail.com">
        <i class="icon-envelope-letter"></i>
      </a>
      <a class="btn btn-primary" href="https://github.com/EthanZeigler">
        <i class="icon-social-github"></i>
      </a>
      </div>
      <div class="">
      <p class="text-muted small mb-0 mx-2 d-inline">&copy; Ethan Zeigler</p>
      <p class="text-muted small mb-0 mx-2 d-inline">Logo by Jill Marbach</p>
    </div>
  </footer>

  <!-- Le javascript -->
  {% block javascript %}
    <!-- Global -->
    {% render_bundle 'global' 'js' %}
    <!-- End Global -->
  {% endblock javascript %}
</body>
</html>