<template>
  <div class="input-group">
    <input
      v-model="cValue"
      :max="max"
      :min="min"
      type="number"
      class="form-control"
      :placeholder="placeholder"
      :aria-label="ariaLabel"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      @click="this.increment()"
    >
      +
    </button>
    <button
      class="btn btn-outline-secondary"
      type="button"
      @click="this.decrement()"
    >
      -
    </button>
    <div
      class="invalid-feedback"
      v-for="error of this.errors"
      :key="error.$uid"
    >
      {{ error.$message }}
    </div>
    <small class="form-text text-muted" v-if="this.helpText.length() > 0">
      {{ this.helpText }}
    </small>
  </div>
</template>

<script>
export default {
  emits: ["blur", "focus", "update:value"],
  props: {
    value: {
      type: Number,
      optional: false,
    },
    helpText: {
      type: String,
      optional: true,
      default: () => "",
    },
    errors: {
      type: Array,
      optional: true,
      default: () => [],
    },
    step: {
      type: Number,
      optional: true,
      default: () => 1,
    },
    max: {
      type: Number,
      optional: true,
      default: () => Number.MAX_VALUE,
    },
    min: {
      type: Number,
      optional: true,
      default: () => Number.MIN_VALUE,
    },
    placeholder: {
      optional: true,
      default: () => "0",
    },
    airaLabel: {
      optional: true,
      default: () => false,
    },
    disabled: {
      type: Boolean,
      optional: true,
      default: () => false,
    },
  },
  methods: {
    increment() {
      this.cValue = this.bound(this.cValue + this.step);
    },
    decrement() {
      this.cValue = this.bound(this.cValue - this.step);
    },
    bound(x) {
      max(min(x, max), min);
    },
  },
  computed: {
    cValue: {
      get() {
        return this.value;
      },
      set(x) {
        $emit("update:value", x);
      },
    },
  },
};
</script>

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>