<template>
  <masthead
    :title="'Ethan Zeigler'"
    :subtitle="'Software solutions for real world problems'"
    :links="mastheadLinks"
    :backgroundImage="require('@/assets/home/backgrounds/masthead.xl.jpg')"
  ></masthead>
  <img alt="Vue logo" src="../assets/logo.png">
</template>

<script>
import Masthead from '@/components/Masthead.vue'

export default {
  name: 'Home',
  components: {
    Masthead
  },
  data() {
    return {
      mastheadLinks: [
        {
          text: "Tutoring Calendar",
          link: "https://calendar.google.com/calendar/embed?src=p6cvqb95rs0cmoh9o70narodpo%40group.calendar.google.com&ctz=America%2FNew_York",
          disabled: true,
        },
        {
          text: "Apps",
          to: "datascience",
        },
        {
          text: "Resume",
          link: "resume_url",
        },
        {
          text: "About",
          link: "about_url",
        }
      ]
    }
  },
}
</script>
